.pdf-creator-upgrade{
	text-align: left;
}

.font-headline{
	font-family: 'Macmillan-Headline';
}

/* Store front overrides */
h1,h2,h3,h4,h5,h6{
	border-bottom: none;
}
.tabBox{
	width: 100%;
}


/* Create Product Styles */
.save-product-btn{
	margin-right: 20px;
}
.show-border-when-selected:checked + label{
	border: solid 1px #000;
}
.list-margin-top{
	margin-top: 20px;
}
.pull-top-right{
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;
}
.block-item-heading{
	font-size: 1.5em;
}
.edit-tb-defaults-container{
	position: relative;
}
.text-block-defaults-container{
	margin-top: 20px;
	padding-top: 20px;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}


/*Resets*/
.template-container,
.product-container{
	margin-bottom: 40px;
}
.clear-all{
	clear: both;
}
@media (max-width: 991px ){
	.new-template-container{
		margin-top: 40px;
	}	
}
.list-group-item{
	list-style: none;
	position: relative;
}
textarea{
	resize:vertical;
	min-height: 100px;
}
canvas{
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
.canvas-container{
	margin-bottom: 20px;
}

.image-preview img{
	width: 100%;
	height: auto;
	display: block;
	margin: 20px 0;
}

.canvas-name-field{
	margin-bottom: 20px;
	max-width: 600px;
}
#cp_image img,
#ct_image img{
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1)
}

.close-control{
	position: absolute;
	right: 15px;
	top: 15px;
}

.option-selected{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.add-element-control,
.hidden-el{
	display: none;
}

/* Alignment Roles */
.align-icon{
	background-image: url('../img/alignment-sprite.png');
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.align-left{
	background-position: -80px 0;
}
.align-center{
	background-position: 0 0;
}
.align-right{
	background-position: -40px 0;
}
.align-top{
	background-position: 0 -40px;
}
.align-middle{
	background-position: -40px -40px;
}
.align-bottom{
	background-position: -80px -40px;
}
input:checked + .align-icon{
	border: solid 1px black;
}

.color-light-green{
	background: rgb(140,198,63);
}
.color-mid-green{
	background: rgb(0,162,70);
}
.color-dark-green{
	background: rgb(0,92,70);
}
.color-purple{
	background: rgb(104,44,136);
}
.color-orange{
	background: rgb(241,131,21);
}
.color-red{
	background: rgb(227,35,51);
}
.color-turquoise{
	background: rgb(154,204,201);
}
.color-lilac{
	background: rgb(140,157,184);
}
.color-brown{
	background: rgb(192,97,91);
}
.color-black{
	background: rgb(0,0,0);
}
.color-option{
	width: 30px;
    height: 30px;
    text-indent: -9999em;
    border-radius: 50%;
    border: none;
    box-shadow: none;
}
.color-option:hover,
.color-option:focus,
.color-option:active{
	background: auto;
}
.color-option.option-selected{
	outline: solid 3px #46b8da;
}


/* Stepped options */
.stepped-option{
	display: none;
}
.active-option{
	display: block;
}


/* Template type options */
/* https://proto.io/freebies/onoff/* /
.template-block-type-options{
	display: none;
}
input[name="template-block-type"]:checked + .template-block-type-options{
	display: block;
}

/* On off switch */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* Template Selector Styles */
.template-selection:checked + label{
	background: #5bc0de;
	font-weight: bold;
}
.thumbnail{
	min-height: 180px;
	text-align: center;
}
.thumbnail .template-name{
	font-size: 1.25em;
	margin: 10px 5px;
}
.thumbnail a > img,
.thumbnail > img{
	height: auto;
}
#dynamic-templates{
	clear: both;
	display: block;
	margin-top: 20px;
}
.at-from-source-label{
	display: block;
}
input[name=from-template]:checked + label{
	background: #5bc0de;
}
input[name=from-template]:checked + .at-from-source-value{
	display: block;
}
.load-template-state .update-template{
	display: inline-block;
}

/* Text block group options */
#at-text-block-group-list{
	display: none;
	margin-top: 20px;
}
#at-text-block-group-list li{
	min-height: 45px;
}
#at-text-block-group-list .btn{
	padding: 6px;
	line-height: 1;
	font-size: 10px;
	font-weight: bold;
	margin-left: 10px;
}

.list-group-item>.badge{
	float: none;
}

/* Asset Library - In Product page*/
#assetsFound{
	padding-top: 80px;
    position: relative;
}
#asset-lib-item-list{
	max-height: 300px;
	overflow-y: auto;
}
#asset-lib-item-list .list-group-item{
	padding: 0;
}
.asset-lib-label{
	display: block;
	position: relative;
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.asset-lib-selection-checkbox:checked + .asset-lib-label{
	background: #5bc0de;
	color: #FFF;
}
.asset-lib-thumb{
	max-width: 200px;
	height: auto;
}
.asset-lib-item-name{
	margin-left: 20px;
	font-size: 1.5em;	
}
[data-id=asset-upload-container]{
	padding: 15px;
	background: #FFF;
}
[data-id=asset-upload-container] h3{
	margin-top: 40px;
}

/* Image block styles */
.block-asset-item-list-wrapper{
	max-height: 300px;
	overflow-y: auto;
}
.block-asset-item-list{
	margin-top: 20px;
}
.show-asset-on-canvas-btn,
.block-asset-thumb{
	padding: 0;
	max-width: 200px;
	height: auto;
}
.block-asset-thumb{
	display: block;
}
[data-action=add-images-to-block]{
	margin-bottom: 10px;
}








/* Asset Library - Standalone */
.asset-lib-search-form{
	margin: 10px 0 20px 0;
}
.asset-lib-btn-margin{
	margin-top: 24px;
}
.asset-lib-search-results-table{
	border-top: none;
}
.add-new-asset-heading{
	margin-top: 0;
	padding-top: 0;
}



/* Colorbox Styles */

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/overlay.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
#cboxTopLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px 0;}
#cboxTopRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px 0;}
#cboxBottomLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px -29px;}
#cboxBottomRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px -29px;}
#cboxMiddleLeft{width:21px; background:url(../img/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px; background:url(../img/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px; background:url(../img/border.png) 0 0 repeat-x;}
#cboxBottomCenter{height:21px; background:url(../img/border.png) 0 -29px repeat-x;}
#cboxContent{background:#fff; overflow:hidden;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext:hover{background-position:-50px -25px;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(../img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}