/* Store front overrides */
.tabBox{
	width: 100%;
}


/* Create Product Styles */
.show-border-when-selected:checked + label{
	border: solid 1px #000;
}
.list-margin-top{
	margin-top: 20px;
}
.pull-top-right{
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;
}
.block-item-heading{
	font-size: 1.5em;
}
.edit-tb-defaults-container{
	position: relative;
}
.text-block-defaults-container{
	margin-top: 20px;
	padding-top: 20px;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}


/*Resets*/
.template-container,
.product-container{
	margin-bottom: 40px;
}
.clear-all{
	clear: both;
}
@media (max-width: 991px ){
	.new-template-container{
		margin-top: 40px;
	}	
}
.list-group-item{
	list-style: none;
	position: relative;
}
textarea{
	resize:vertical;
	min-height: 100px;
}
canvas{
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
.canvas-container{
	margin-bottom: 20px;
}

.image-preview img{
	width: 100%;
	height: auto;
	display: block;
	margin: 20px 0;
}

.canvas-name-field{
	margin-bottom: 20px;
	max-width: 600px;
}
#cp_image img,
#ct_image img{
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1)
}

.close-control{
	position: absolute;
	right: 15px;
	top: 15px;
}

.option-selected{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.add-element-control,
.hidden-el{
	display: none;
}

/* Alignment Roles */
.align-icon{
	background-image: url('../img/alignment-sprite.png');
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.align-left{
	background-position: -80px 0;
}
.align-center{
	background-position: 0 0;
}
.align-right{
	background-position: -40px 0;
}
.align-top{
	background-position: 0 -40px;
}
.align-middle{
	background-position: -40px -40px;
}
.align-bottom{
	background-position: -80px -40px;
}
input:checked + .align-icon{
	border: solid 1px black;
}

.color-light-green{
	background: rgb(140,198,63);
}
.color-mid-green{
	background: rgb(0,162,70);
}
.color-dark-green{
	background: rgb(0,92,70);
}
.color-purple{
	background: rgb(104,44,136);
}
.color-orange{
	background: rgb(241,131,21);
}
.color-red{
	background: rgb(227,35,51);
}
.color-option{
	width: 30px;
    height: 30px;
    text-indent: -9999em;
    border-radius: 50%;
    border: none;
    box-shadow: none;
}
.color-option:hover,
.color-option:focus,
.color-option:active{
	background: auto;
}
.color-option.option-selected{
	outline: solid 3px #46b8da;
}


/* Stepped options */
.stepped-option{
	display: none;
}
.active-option{
	display: block;
}


/* Template type options */
/* https://proto.io/freebies/onoff/* /
.template-block-type-options{
	display: none;
}
input[name="template-block-type"]:checked + .template-block-type-options{
	display: block;
}

/* On off switch */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* Template Selector Styles */
.template-selection:checked + label{
	background: #5bc0de;
	font-weight: bold;
}
.thumbnail{
	min-height: 180px;
	text-align: center;
}
.thumbnail .template-name{
	font-size: 1.25em;
	margin: 10px 5px;
}
.thumbnail a > img,
.thumbnail > img{
	height: auto;
}
#dynamic-templates{
	clear: both;
	display: block;
	margin-top: 20px;
}
.at-from-source-label{
	display: block;
}
input[name=from-template]:checked + label{
	background: #5bc0de;
}
input[name=from-template]:checked + .at-from-source-value{
	display: block;
}
.load-template-state .update-template{
	display: inline-block;
}

/* Text block group options */
#at-text-block-group-list{
	display: none;
	margin-top: 20px;
}
#at-text-block-group-list li{
	min-height: 45px;
}
#at-text-block-group-list .btn{
	padding: 6px;
	line-height: 1;
	font-size: 10px;
	font-weight: bold;
	margin-left: 10px;
}

.list-group-item>.badge{
	float: none;
}

/* Asset Library */
#assetsFound{
	padding-top: 80px;
    position: relative;
}
#asset-lib-item-list{
	max-height: 300px;
	overflow-y: auto;
}
#asset-lib-item-list .list-group-item{
	padding: 0;
}
.asset-lib-label{
	display: block;
	position: relative;
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.asset-lib-selection-checkbox:checked + .asset-lib-label{
	background: #5bc0de;
	color: #FFF;
}
.asset-lib-thumb{
	max-width: 200px;
	height: auto;
}
.asset-lib-item-name{
	margin-left: 20px;
	font-size: 1.5em;	
}

/* Image block styles */
.block-asset-item-list-wrapper{
	max-height: 300px;
	overflow-y: auto;
}
.block-asset-item-list{
	margin-top: 20px;
}
.show-asset-on-canvas-btn,
.block-asset-thumb{
	padding: 0;
	max-width: 200px;
	height: auto;
}
.block-asset-thumb{
	display: block;
}